.Footer{
    padding-top: 55px;
}
.Footer .header-logo .footer-para{
        font-size: 14px;
    width: 40%;
    color: rgb(131,131,131);
    margin-top: 22px;
}
.Footer .footlist-head{
    font-size: 20px;
    font-weight: 600;
    color:black;
    margin-bottom: 20px;
}
.Footer .footlist li a{
    text-decoration: none;
    color:rgb(131,131,131);
    font-size: 14px;
    margin-bottom: 10px;
}
.Footer .footlist li{
    margin-bottom: 15px;
}
.Footer .borderfooter{
       border-bottom: 2px solid #e3dddd;
    margin-top: 20px;
}
.Footer .footercopyright{
    padding: 30px 0;
}
.Footer .footercopyright a{
    text-decoration: none;
    color:black ;
    font-size: 16px;
    font-weight: 500;
}
.Footer .privacy  a{

    text-decoration: none;
    color: black;
    font-size: 15px;
    font-weight: 500;
}
.Footer .privacy{
    padding: 30px 0;
}