.Header {
     padding: 25px 0;
    
    border-bottom: 1px solid rgb(231, 238, 246);
}
.Header .round-searchbar {
  position: relative;
}
.custom-container{
      padding: 0px 45px;
}

.Header .round-searchbar .search-input {
  border: 1px solid rgb(231, 238, 246);
  border-radius: 50px;
  padding: 13px 52px 9px 56px;
  font-weight: 500;
  width: 100%;
  font-size: 14px;
  color: black;
}

.Header .round-searchbar .search-icon {
  position: absolute;
  left: 15px;
  top: 3px;
  font-size: 28px;
  color: #999;
}

.Header .round-searchbar .filter-icon {
  position: absolute;
  right: 15px;
    top: 5px;
    font-size: 24px;
  
  color: #666;
  cursor: pointer;
}
.Header .header-icons {
  display: flex;
  gap: 25px;
  justify-content: flex-end;
}
.Header .header-icons .headericon-circle {
  width: 42px;
  height: 42px;
  display: flex;

  justify-content: center;
  padding: 23px;
  align-items: center;
  border-radius: 50%;
  border: 1px solid rgb(231, 238, 246);
}
.Header .header-icons .headericon-circle i {
  font-size: 24px;
}

